@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Unit converter</h1>
    <p>
        I can convert between different units of measurement.
        The current version supports values such as length, weight, and temperature.
    </p>
</div>
