@model UnitConverter.Mvc.Models.ResultModel

<div>
    <h4>@ViewData["Title"] Converter</h4>
    <hr />
    @($"{Model.OriginalValue} {Model.OriginalUnit} = {Model.ConvertedValue} {Model.ConvertedUnit}")
</div>
<div>
    <a asp-action="Index">Back to Convert Form</a>
</div>
